body {
   background: #242728;
   color: #fff;
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
   line-height: 1.4em;
}

div.col-md-12.wlogo img {
   max-width: 57%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding-top: 26%;
}
div.col-md-12.wdisc {
   text-align: center;
   padding-top: 1%;
   font-size: 17px;
   line-height: 1.4em;
}

.loading img {
   max-width: 44px;
   display: block;
   margin: 0px auto;
   margin-top: 79px;
}
div.col-md-12.qoute {
   padding: 80px 60px 80px 60px;
   text-align: center;
   font-size: 15px;
}
div.hight {
   color: #f5db33;
   padding-top: 13px;
}

div.cl-md-12.header {
   min-height: 75px;
   background: #fff;
   color: #242728;
}
div.cl-md-6.logo img {
   max-width: 133px;
   padding: 16px 0px 0px 21px;
   display: block;
   float: left;
}

div.cl-md-6.menu {
   text-align: right;
   padding-right: 30px;
   padding-top: 25px;
   font-size: 26px;
}

div.row.rhead {
   color: #f5b333;
   font-size: 40px;
   text-align: center;
   padding-top: 20px;
   padding-bottom: 20px;
}
span.rheadt {
   font-size: 16px;
   color: #fff;
   float: left;
}

div.cl-md-12.cbread {
   background: #fff;
   color: #242728;
   padding: 10px 28px;
   font-size: 16px;
   text-align: center;
}
div.cl-md-12.cbread>span {
   color: #f5b333;
   padding: 0px 2px;
}
div.cl-md-12.cbread>span.special {
   color: #242728;
   border-bottom: 4px solid #f5b333;
   padding-bottom: 6px;
}

div.col-md-12.quo {}
div.row.repo {
   padding: 25px;
}
div.row.repo>label {
}
label {
   font-weight: 100;
   display: block;
   padding-top: 4px;
   padding-left: 40px;
}
input[type="checkbox"] {
   margin-right: 10px;
}


div.col-md-12.quo {}
div.row.repo {
   padding: 25px;
}
div.row.repo>label {
}
label {
   font-weight: 100;
   display: block;
   padding-top: 4px;
   padding-left: 40px;
}
input[type="checkbox"] {
   margin-right: 10px;
}

button.btn.btn-default.btn-lg>span {
   font-weight: 100;
}
button.btn.btn-default.btn-lg {
   font-weight: 100;
}
span.glyphicon.glyphicon-chevron-right {
   font-weight: lighter;
}
div.col-md-3.butmain {
   float: right;
   padding-right: 26px;
}
button.btn.btn-default.btn-lg {
   background-color: #f5b333;
   font-size: 17px;
   border: none;
}

div.col-md-offset-3.butmain {
   float: right;
   padding-right: 24px;
}

div.fhead {
text-align: left;
font-size: 28px;
padding-left: 56px;
}

div.row.naver img {
max-width: 60%;
margin-left: auto;
margin-right: auto;
display: block;
padding-top: 20px;
}

div.row.naver {
padding: 20px 0px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
   background: none;
   border-bottom: 3px solid #f5b333;
   border-top: none;
   border-left: none;
   border-right: none;
}
.nav-tabs {
   border-bottom: none;
}
ul#myTab a {
   color: #fff;
}
h4 {}
.nav-tabs>li>a:hover {
   background: none;
   border-bottom: #f5b333;
}
.nav-tabs>li>a {
   border: none;
}
#story h3 {
   font-size: 30px;
}
div#story h4 {
   font-weight: 400;
   font-size: 20px;
   font-weight: 600;
}
hr.mini {
   margin-top: 10px;
   margin-bottom: 10px;
}
div#home h4 {
   font-size: 18px;
   line-height: 1.3em;
}

ul#myTab {
   padding-left: 24px;
   display: block;
   padding-top: 10px;
}


div#news h4 {
   font-weight: 400;
   font-size: 20px;
   font-weight: 600;
}
dev.css

3 of 22
Displaying dev.css.